<header class="header">
  <nav class="navigation">
    <h1 class="navigation_logo">Shop<span>Commerce</span></h1>
    <ul class="navigation_list">
      <li class="navigation_link"><a href="/" class="<%=path==="/"?"active":""%>">Shop</a></li>
      <li class="navigation_link"><a href="/" >Cart</a></li>
      <li class="navigation_link"><a href="/admin/add-product" class="<%=path==="/admin/add-product"?"active":""%>">Add Product</a></li>
      <li class="navigation_link"><a href="/admin/products" class="<%=path==="/admin/product"?"active":""%>">Admin Products</a></li>
    </ul>
  </nav>
</header>
