<div class="notification hide">
  <div class="body">
    <i class="bx bxs-check-circle"></i>
    <p>Product added to cart!</p>
    <a href="/cart">View cart</a>
  </div>
  <div>
    <i class="bx bx-x close_notification"></i>
  </div>
</div>
