.btn1 {
  background-color: orangered;
  padding: 0.6rem 0.6rem;
  border-radius: 0.2rem;
  color: white;
}
.btn1:hover {
  background-color: rgba(255, 69, 0, 0.9);
  color: white;
}
.btn1:disabled {
  cursor: not-allowed;
  background-color: rgba(63, 21, 5, 0.9);
  color: rgb(155, 151, 151);
}
.no_cart {
  text-align: center;
  font-size: 1.2rem;
}
.no_cart a {
  color: orangered;
}

.cart_section {
  display: flex;
  justify-content: space-between;
}
.cart_section h3,
.cart_section h4 {
  font-size: 1.2rem;
}

.cart_section .shopping_cart {
  width: 65%;
  margin: 0.5rem 0;
}

.cart_section .shopping_cart h2,
.cart_section .cart_total h2 {
  text-align: left;
  padding: 0.5rem;
}
.cart_section .shopping_cart {
}
.cart_section .shopping_cart .cart_item {
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
  align-items: center;
}
.cart_section .shopping_cart .cart_item .cart_item_image {
  height: 250px;
  width: 250px;
  overflow: hidden;
}
.cart_section .shopping_cart .cart_item .cart_item_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
.cart_section .shopping_cart .cart_item .cart_item_detail {
  padding: 0 1rem;
}
.cart_section .shopping_cart .cart_item .cart_item_detail .cart_item_name {
  font-size: 1.3rem;
  padding: 0.5rem 0;
}
.cart_section .shopping_cart .cart_item .cart_item_detail .cart_item_price {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}
.cart_section .shopping_cart .cart_item .cart_item_detail .cart_item_quantity {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  max-width: 7rem;
  height: auto;
  /* overflow: hidden; */
}
.cart_section .shopping_cart .cart_item .cart_item_detail .cart_item_quantity h4 {
  outline: 1px solid #ccc;
  padding: 0rem 0.8rem;
  font-size: 1.1rem;
  text-align: center;
}
.cart_section .shopping_cart .cart_item .cart_item_detail .cart_item_quantity .control {
  padding: 0rem;
  font-size: 1.2rem;
  font-weight: bold;
  outline: 1px solid #ccc;
  padding: 0.15rem 0.8rem;
  background-color: transparent;
}

.cart_section .shopping_cart .cart_item .cart_item_detail button {
  margin: 1rem 0;
  width: 7rem;
}
.cart_section .cart_total {
  width: 30%;
  margin: 0.5rem 0;
}
.cart_section .cart_total .cart_total_details {
  padding: 0.5rem;
}

.cart_section .cart_total .cart_total_details .cart_total_detail,
.cart_section .cart_total_amount {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.cart_section .cart_total .cart_total_details .cart_total_detail h3 {
  padding-right: 1rem;
}
.cart_section .cart_total .cart_total_details .cart_total_detail h4 {
  font-size: 1.2rem;
}

.cart_section .cart_total_amount {
  padding: 0.5rem;
  justify-content: space-between;
}

.cart_section .cart_total_actions {
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.cart_section .cart_total_actions button {
  width: 100%;
}
