* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* user-select: none; */
}
a {
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: aliceblue;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.header {
  background-color: rgb(233, 233, 255);
  padding: 1rem 5%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 10vh;
}

.header .navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header .navigation .navigation_logo {
  cursor: pointer;
  font-size: 1.8rem;
}

.header .navigation .navigation_logo span {
  color: orangered;
}

.header .navigation .navigation_list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header .navigation .navigation_list .navigation_link {
  font-size: 1.3rem;
  list-style: none;
}
.header .navigation .navigation_list .navigation_link a {
  color: black;
  text-decoration: none;
  padding: 0.5rem 0.6rem;
}
.header .navigation .navigation_list .navigation_link a.active {
  color: orangered;
}
.header .navigation .navigation_list .navigation_link a:hover {
  color: rgba(255, 69, 0, 0.6);
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: orangered;
}

.main {
  max-width: 1200rem;
  width: 90%;
  margin: auto;
  padding: 1rem 0;
  overflow-x: hidden;
  margin-top: 10vh;
}

.main h2 {
  text-align: center;
  padding: 1rem 0;
}
