<%-include("includes/head")%>
</head>
<body>
    <%-include("includes/navigation")%>
    <main class="main">
        <h1>This is the page where you see all of the products available</h1>
    </main>
   
</body>